*.so
*.o
pintraces/obj-ia32/
pintraces/1-1-0logs.txt
pintraces/1-1-addrs.txt
pintraces/peda-session-*
pintraces/diff.txt
pintraces/good_1.txt
pintraces/bad_2.txt
pintraces/.gdb_history
pintraces/sample/png/out/*
*.gdb_history
*1.txt
*peda*
*log.txt


